.table-responsive{
  overflow: scroll;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: auto;
}
::-webkit-scrollbar {
  width: 2px;
  background: transparent;
  }
  ::-webkit-scrollbar-thumb {
  background: gray;
  border-radius:20px;
  }
