*
!.gitignore

!pictures
!pictures/img1.jpg
!pictures/img2.jpg
!pictures/img3.jpg
!pictures/jana.jpg
!pictures/lora.jpg
!pictures/mike.jpg

!pictures-seed
!pictures-seed/img1.jpg
!pictures-seed/img2.jpg
!pictures-seed/img3.jpg
!pictures-seed/jana.jpg
!pictures-seed/lora.jpg
!pictures-seed/mike.jpg
